*,*:after,*before{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    
  }
  .wholehead {
    min-height: 100vh; 
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9, 30, 0.7)),url(/images/fav.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  
  }
 .header {
    min-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(132, 140, 170, 0.7),rgba(116, 123, 153, 0.7)),url(image/pocasiBanner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  
  }
body{
    
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;  
    background: rgb(228, 218, 218);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
body :not(div) :nor(header){
        background-color: black;
}
.container{
    width: 100%;
}
h1{
    padding: 50px;
    text-decoration: ivory;
    padding: auto;
    text-align: center;
    font-size: 46px;
}
h2{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    width: 150px;
    padding: 20px;
    margin: 20px;
}
#canvas{
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }

#logout{
    width: 50px;
    border: 5px solid ;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    flex: 1;
    text-align: center;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    backface-visibility:visible;
    z-index: 999;        
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(4, 9, 30, 0.7);
}
#logout a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    }
    #logout a:hover:after{
        width: 100%;
      }
#logout a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
#statusAimtec a{
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    }
