*,*:after,*before{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.header {
    min-height: 50vh; 
    width: 100%;
    background-image: linear-gradient(rgba(132, 140, 170, 0.7),rgba(116, 123, 153, 0.7)),url(image/pocasiBanner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  
  }
body{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;  
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 90%;
}
h1{
    text-align: center;
    font-size: 46px;
}
h2{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    width: 150px;
    padding: 20px;
    margin: 20px;
}
#canvas{
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }

#logout{
    width: 50px;
    border: 5px solid blue;
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 13px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: brown;
}
#statusAimtec a{
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    }